/* Loader container */
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #331d2c; /* Change this to your dark background color */
  z-index: 9999;
  transition: opacity 1s ease-out;
}

.loader-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

/* Dots container */
.dots {
  display: flex;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a78295; /* Your light mauve/pinkish color */
  animation: swing 1.5s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

.dot:nth-child(4) {
  animation-delay: 0.6s;
}

/* Swing animation */
@keyframes swing {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
